<header>

	<div class="container mt-5">
		<h1>Hospital Manager</h1>
		<div class="mt-3">
			<a href="/lobby" class="btn btn-primary mr-2">Lobby</a>
			<a href="/reception" class="btn btn-primary mr-2">Reception</a>
		</div>
	</div>	

</header> 

