<!DOCTYPE html>
<html>
  <head>
    <title>Hospital Manager</title>
    <!-- Thêm các liên kết đến tệp CSS và JavaScript của Bootstrap -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    />
    
  </head>
  <body>

	{{>header}}

	
    <div class="container mt-5">
      <h2>Danh sách bệnh nhân đã đăng ký</h2>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Họ và tên</th>
            <th scope="col">Tuổi</th>
            <th scope="col">Giới tính</th>
          </tr>
        </thead>
        <tbody id="registered-patients">
          <!-- Danh sách bệnh nhân sẽ được thêm vào đây bằng JavaScript -->
        </tbody>
      </table>
      <!-- Định nghĩa mẫu Handlebars cho một bệnh nhân -->
      <script id="patient-template" type="text/x-handlebars-template">
        <tr>
          <td>{{name}}</td>
          <td>{{age}}</td>
          <td>{{gender}}</td>
        </tr>
      </script>
    </div>
  </body>
</html>
